body, h1, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4e4e4;
}

body > header{
    background-color: rgb(0, 0, 255);
    text-align: center;
    color: #fff; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 0;
}

body > header > h1 > a:visited, body > header > h1 > a:link{
    color: #fff;
    text-decoration: none;
}

nav{
    margin: 0 5%;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 20%;
    background-color: rgb(0,0,255);
    margin-top: 10px;
    margin-right: 2.5%;
    text-align: center;
}

nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff; 
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover{
    color: rgb(255,127,0);
}

main{
    margin: 20px 5% 0;
}

main > article{
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-bottom: 20px;
    padding: 0 5%;
}

main > article > header > div{
    height: 200px;
    text-align: center;
}

main > article > header > div > img{
    max-width: 100%;
    max-height: 100%;
}

main > article > header > h2{
    color: rgb(0, 0, 255);
    padding: 0 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main article header h2:hover{
    color: rgb(255,127,0);
}

aside > section{
    background-color: #fff;
    border: 1px solid #cacaca;
    margin: 20px;
    padding: 10px 5%;
    color: rgb(0, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body > footer{
    background-color: rgb(0, 0, 255);
    text-align: center;
    color: #fff; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0 10px 0;
}

form{
    padding: 20px 5%;
    background-color: #fff;
    margin-bottom: 10%;
}

form h2, main > section > h2{
    color: rgb(0,0,255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px;
}

form ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
}

form ul li input:not([type="submit"]){
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="submit"]{
    background-color:rgb(0, 0, 255);
    color: #fff;
    border: none;
}

form ul li input[type="submit"]:hover{
    cursor: pointer;
    color:rgb(255, 127, 0);
}

main > section{
    padding: 20px 5%;
    background-color: #fff;
}

table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid rgb(255, 127, 0);
    padding: 5px;
}

table th{
    color: rgb(0, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td{
    text-align: center;
}

aside{
    margin: 10px 5% 20px;
    background-color:#fff;
    border: 1px solid #cacaca;
    box-sizing: border-box;
}

aside > section{
    padding: 20px 5%;
}

aside > section > h2{
    color: rgb(0, 0, 255);
    font: bold 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 15px;
}

aside > section > ul{
    list-style: none;
}

aside > section > ul > li{
    margin-bottom: 10px;
}

aside > section > ul > li > img{
    width: 50px;
    float: left;
    margin-right: 5px;
}

aside > section > ul > li > a{
    font: bold 12px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

aside > section > ul > li > a:visited{
    color: #000;
}

aside > section > ul > li > a:hover{
    color:rgb(255, 127, 0);
}

@media screen and (min-width:768px){
    nav{
        margin: 0 19%;
    }
    nav ul li{
        width: 10%;
    }

    nav ul li:not(:last-child){
        margin-right: 8%;
    }

    main, aside{
        display: inline-block;
        vertical-align: top;
    }

    main{
        width: 50%;
        margin: 20px 5% 0 10%;
    }

    aside{
        width: 25%;
        margin: 20px 10% 0 0;

    }

    form ul{
        width: 50%;
        margin: 0 25%;
    }

    table{
        width: 80%;
        margin: 0 10%;    
    }
}